---
layout: default
image: 'assets/images/og-image.png'
---

{% comment %} {% if page.url == "/" %}

    <!-- Featured
      ================================================== -->
    <section class="featured-posts">
      <div class="section-title">
        <h2>
          <span>고정됨</span>
        </h2>
      </div>
      <div class="row">

        {% for post in site.posts %}

          {% if post.featured == true %}

            {% include featuredbox.html %}

          {% endif %}

        {% endfor %}

      </div>
    </section>

{% endif %} {% endcomment %}

<!-- Posts Index
  ================================================== -->
<section class="recent-posts">

  {% comment %} <div class="section-title">

    <h2>
      <span>모든 글</span>
    </h2>

  </div> {% endcomment %}

  <div class="row listrecent">

    {% for post in paginator.posts %}

      {% include postbox.html %}

    {% endfor %}

  </div>

</section>

<!-- Pagination
  ================================================== -->
<div class="bottompagination">
  <span class="navigation" role="navigation">
    {% include pagination.html %}
  </span>
</div>